@import 'Sass/reset';
@import 'Sass/fonts';
@import 'Sass/style';

body{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    

}
.container{
    background: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position-y: 85vh;
    // background-size: 50vw 10vh;
    min-height: 100vh;
    width: 100vw;
}
.slide-container{
    
   
   .slide-bg{
    position: absolute;
    top: 0vh;
    right: 2vw;
    background: url("images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-position-x: 20vw;
    background-position-y: 10vh;
    background-position: right;
    height: 100vh;
    width: 80vw;
    background-size: 52vw;
   }
   
}
.slide{
    .slide-img-main{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8vw;
        z-index: 1;
        box-shadow: 0 10px 50px -10px rgba(0,0,0,0.4);
        img{
            height: 40vw;
            width: 40vw;
            border-radius: 5px;
        }
        .slide-navigator{
            .slide-navigator &{
                position: relative;
            }
            background-color: white;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            
            width: 6rem;
            padding: 1rem 1rem;
            position: absolute;
            bottom: -1.5rem;
            left: 2rem;
            z-index: 3;
            &:hover{
                cursor: pointer;
            }
            img{
                max-width: 0.7rem;
                max-height: 1rem;
            }
        }
    }
    .slide-quote-main{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10vw;
        font-size: 2.5vw;
        z-index: 2;
        width: 50vw;
        font-weight: 300;
        .slide-quote{
            position: absolute;
            top: -10%;
            background: url("images/pattern-quotes.svg") ;
            background-repeat: no-repeat;
            background-position-x: 40%;
            height: 20vh;
            width: 30vw;
            background-size: 8vw;
     
        }
        .slide-quote-main-quote{
            color:var(--DarkBlue);
        }
        .slide-quote-main-person{
            display: flex;
            align-items: center;
            margin-top: 2rem;
            &-name{
                font-weight: 700;
                font-size: 1.2vw;
                color:var(--DarkBlue);
            }
            &-desig{
                margin-left: 0.5rem;
                font-size: 1.2vw;
                color:var(--GrayishBlue);
            }
        }
    }
}
.hidden{
    transition: all 0.2s;
    opacity: 0;

   
    
}
.visible{
    transition: all 0.2s;
    opacity: 1;
    
}

@media (max-width:600px) {
    .container{
        background: url("images/pattern-curve.svg");
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: contain;
        // background-size: 100vh 100vw;
        height: 100vh;
        width: 100vw;
    }
    .slide-container{
        
       .slide-bg{
        position: absolute;
        top: 0vh;
        right: 0vw;
        background: url("images/pattern-bg.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 10%;
        // background-position: top;
        height: 100vh;
        width: 100vw;
        background-size: 90vw;
       }
       
    }
    .slide{
        .slide-img-main{
            position: absolute;
            top: 10vh;
            right: 50%;
            transform: translateX(50%);
            z-index: 1;
            box-shadow: 0 10px 50px -10px rgba(0,0,0,0.4);
            img{
                height: 70vw;
                width: 70vw;
            }
            .slide-navigator{
                .slide-navigator &{
                    position: relative;
                }
                
                background-color: white;
                border-radius: 100px;
                display: flex;
                justify-content: space-between;
                
                width: 6rem;
                padding: 1rem 1rem;
                position: absolute;
                bottom: -1.5rem;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                &:hover{
                    cursor: pointer;
                }
                img{
                    max-width: 0.7rem;
                    max-height: 1rem;
                    
                }
            }
        }
        .slide-quote-main{
            position: absolute;
            top: auto;
            bottom: 5rem;
           left: 50%;
           transform: translateX(-50%);
            font-size: 4vw;
            line-height: normal;
            z-index: 2;
            width: 90vw;
            font-weight: 300;
            text-align: center;
            .slide-quote{
                position: absolute;
                top: -10%;
                left: 45%;
                // transform: translateX(-50%);
                background: url("images/pattern-quotes.svg") ;
                background-repeat: no-repeat;
                background-position-x: 0%;
                height: 20vh;
                width: 30vw;
                background-size: 12vw;
         
            }
            .slide-quote-main-quote{
                color:var(--DarkBlue);
            }
            .slide-quote-main-person{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                &-name{
                    font-weight: 700;
                    font-size: 3vw;
                    color:var(--DarkBlue);
                }
                &-desig{
                    margin-left: 0rem;
                    font-size: 3vw;
                    color:var(--GrayishBlue);
                }
            }
        }
    }
}

