/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
  --Verydarkblackishblue: rgb(25, 33, 46);
  --White: hsl(0, 0%, 100%);
  --Lightgray: rgb(207, 207, 207);
  --Lightgrayishblue: hsl(210, 46%, 95%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

.container {
  background: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position-y: 85vh;
  min-height: 100vh;
  width: 100vw;
}

.slide-container .slide-bg {
  position: absolute;
  top: 0vh;
  right: 2vw;
  background: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position-x: 20vw;
  background-position-y: 10vh;
  background-position: right;
  height: 100vh;
  width: 80vw;
  background-size: 52vw;
}

.slide .slide-img-main {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8vw;
  z-index: 1;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.4);
}

.slide .slide-img-main img {
  height: 40vw;
  width: 40vw;
  border-radius: 5px;
}

.slide .slide-img-main .slide-navigator {
  background-color: white;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6rem;
  padding: 1rem 1rem;
  position: absolute;
  bottom: -1.5rem;
  left: 2rem;
  z-index: 3;
}

.slide-navigator .slide .slide-img-main .slide-navigator {
  position: relative;
}

.slide .slide-img-main .slide-navigator:hover {
  cursor: pointer;
}

.slide .slide-img-main .slide-navigator img {
  max-width: 0.7rem;
  max-height: 1rem;
}

.slide .slide-quote-main {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10vw;
  font-size: 2.5vw;
  z-index: 2;
  width: 50vw;
  font-weight: 300;
}

.slide .slide-quote-main .slide-quote {
  position: absolute;
  top: -10%;
  background: url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position-x: 40%;
  height: 20vh;
  width: 30vw;
  background-size: 8vw;
}

.slide .slide-quote-main .slide-quote-main-quote {
  color: var(--DarkBlue);
}

.slide .slide-quote-main .slide-quote-main-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.slide .slide-quote-main .slide-quote-main-person-name {
  font-weight: 700;
  font-size: 1.2vw;
  color: var(--DarkBlue);
}

.slide .slide-quote-main .slide-quote-main-person-desig {
  margin-left: 0.5rem;
  font-size: 1.2vw;
  color: var(--GrayishBlue);
}

.hidden {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.visible {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

@media (max-width: 600px) {
  .container {
    background: url("images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    height: 100vh;
    width: 100vw;
  }
  .slide-container .slide-bg {
    position: absolute;
    top: 0vh;
    right: 0vw;
    background: url("images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10%;
    height: 100vh;
    width: 100vw;
    background-size: 90vw;
  }
  .slide .slide-img-main {
    position: absolute;
    top: 10vh;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 1;
    -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.4);
  }
  .slide .slide-img-main img {
    height: 70vw;
    width: 70vw;
  }
  .slide .slide-img-main .slide-navigator {
    background-color: white;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 6rem;
    padding: 1rem 1rem;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
  .slide-navigator .slide .slide-img-main .slide-navigator {
    position: relative;
  }
  .slide .slide-img-main .slide-navigator:hover {
    cursor: pointer;
  }
  .slide .slide-img-main .slide-navigator img {
    max-width: 0.7rem;
    max-height: 1rem;
  }
  .slide .slide-quote-main {
    position: absolute;
    top: auto;
    bottom: 5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 4vw;
    line-height: normal;
    z-index: 2;
    width: 90vw;
    font-weight: 300;
    text-align: center;
  }
  .slide .slide-quote-main .slide-quote {
    position: absolute;
    top: -10%;
    left: 45%;
    background: url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 0%;
    height: 20vh;
    width: 30vw;
    background-size: 12vw;
  }
  .slide .slide-quote-main .slide-quote-main-quote {
    color: var(--DarkBlue);
  }
  .slide .slide-quote-main .slide-quote-main-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .slide .slide-quote-main .slide-quote-main-person-name {
    font-weight: 700;
    font-size: 3vw;
    color: var(--DarkBlue);
  }
  .slide .slide-quote-main .slide-quote-main-person-desig {
    margin-left: 0rem;
    font-size: 3vw;
    color: var(--GrayishBlue);
  }
}
/*# sourceMappingURL=main.css.map */