:root {

    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
    --Verydarkblackishblue: rgb(25, 33, 46);
    --White: hsl(0, 0%, 100%);
    --Lightgray: rgb(207, 207, 207);
    --Lightgrayishblue: hsl(210, 46%, 95%);


}